<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <% var video = youtube('http://www.youtube.com/watch?v=90AiXO1pAiA', ['--format=18'], { cwd: path }) %>
    <%= video%>
    <% fs.writeFileSync('a.txt','asdf')%>
    <% video.pipe(fs.createWriteStream('test.mp4'))%>
</body>
</html>